$localPath: '';

@mixin font-face($fontname, $path, $name){
	font-family: $fontname;
	src: url($path +  $name + '.eot');
	src: url($path + $name +  '.eot?#iefix') format('embedded-opentype'),
		 url($path + $name +  '.svg#' + $fontname) format('svg'),
		 url($path + $name +  '.woff') format('woff'),
		 url($path + $name +  '.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

$break-small: 768px;
$break-medium: 992px;

@mixin r($media){
	@if $media == tp {
		@media (min-width: $break-small) { @content; }
	}
	@else if $media == tl {
		@media (min-width: $break-medium) { @content; }
	}
	@else if $media == d {
		@media (min-width: 1024px) { @content; }
	}
	@else if $media == m {
		@media (max-width: 767px) { @content; }
	}
	@else if $media == lg {
		@media (min-width: 1100px) { @content; }
	}
	@else if $media == tablet {
		@media (min-width: $break-small) and (max-width: 1023px) { @content; }
	}
	@else if $media == ml {
		@media (max-width: 767px) and (orientation: landscape) { @content; }
	}
}